
/*----------------

Responsivness
 
------------------*/

@media (max-width: 1250px){

    .dropdown{/* determines how the dropdown looks when "Our services" button is ckicked*/
        margin-top: 39px;
    }

    .nav_list{
        width: 20%;
    }

    .navigation{/* gives different formatting to the <li> elements so that they fit the narrower screen size */
        margin-top: 14px;/* overwrites previous attribute to cluster nav bar items together */
    }

    .navigation:hover .dropdown{/* retains the hoover functionality for checkbox disguised under "Our services" 
        label so that it behaves the same if a desktop user changes the size of webbrowser window*/
        margin-top: -33px;
    }

    .checkbtn{/* shows the checkbox disguised under "Our services" label*/
        padding-bottom: 20px;
        right: -15px; 
    }
}

@media (max-width: 1080px){

    .nav_list{
        width: 16%;/* so that it doesn't overflow the burger menu, clickable area is on the burger menu rather than above it*/
    }

    .checkbtn{/* shows the checkbox disguised under "Our services" label*/
        right: -23px; 
    }
    
}

@media (max-width: 910px){

    .nav_list{
        width: 16%;/* so that it doesn't overflow the burger menu, clickable area is on the burger menu rather than above it*/
    }

    .checkbtn{/* shows the checkbox disguised under "Our services" label*/
        right: -25px;
    }
}

@media (max-width: 897px){

    .nav_list{
        width: 20%;/* so that it doesn't overflow the burger menu, clickable area is on the burger menu rather than above it*/
    }

    .checkbtn{/* shows the checkbox disguised under "Our services" label*/
        right: -22px; 
    }
}

@media (max-width: 768px){
    .checkbtn{/* shows the checkbox disguised under "Our services" label*/
        right: -24px;  
    }
}

@media (max-width: 686px){

    .nav_list{
        height: 100%;
        width: 200px;/* so that it doesn't overflow the burger menu, clickable area is on the burger menu rather than above it*/
    }

    .checkbtn{/* shows the checkbox disguised under "Our services" label*/
        right: -27px;
    }
}

@media (max-width: 414px){

    .checkbtn{/* shows the checkbox disguised under "Our services" label*/
        left: 8%;
     }

     .nav_list{
        width: 50%;
    }

    .dropdown{
        left: -20px;
    }

    .navigation:hover .dropdown{/* retains the hoover functionality for checkbox disguised under "Our services" 
        label so that it behaves the same if a desktop user changes the size of webbrowser window*/
        left: 20px;
    }

    .section2{
        padding: 20px;
    }

}

@media (max-width: 375px){

    .dropdown{/* determines how the dropdown looks when "Our services" button is ckicked*/
        left: -25px;
    }

    .navigation:hover .dropdown{/* retains the hoover functionality for checkbox disguised under "Our services" 
        label so that it behaves the same if a desktop user changes the size of webbrowser window*/
        left: 15px;
    }

}

@media (max-width: 360px){

     .dropdown{
        left: -28px;
    }

    .navigation:hover .dropdown{/* retains the hoover functionality for checkbox disguised under "Our services" 
        label so that it behaves the same if a desktop user changes the size of webbrowser window*/
        left: 12px;
    }

    .section2{
        padding: 20px;
    }

}

@media (max-width: 320px){

    .dropdownlink{
        padding: 8px;
    }

    .navigation:hover .dropdown{/* retains the hoover functionality for checkbox disguised under "Our services" 
        label so that it behaves the same if a desktop user changes the size of webbrowser window*/
        left: 0px;
    }

    .dropdown{
        left: -40px;
    }

    .checkbtn{/* shows the checkbox disguised under "Our services" label*/
       left: 5%;
    }
} 
